<header
  class="row d-flex flex-row justify-content-between bg-light mx-auto py-2 mb-3"
>
  <div class="col-md-3 d-flex align-items-center justify-content-center my-2">
    <h1 class="mb-0">
      <a
        href="/"
        class="text-light text-decoration-none bg-indigo-500 p-1 rounded"
        >BookFace</a
      >
    </h1>
  </div>

  <div
    class="col-md-4 d-flex align-items-center justify-content-center my-2"
    aria-label="Navigation Buttons"
  >
    <a href="/" class="btn btn-primary text-decoration-none text-light mx-2"
      >Home</a
    >
    <a
      href="/login"
      class="btn btn-primary text-decoration-none text-light mx-2"
      >Log in</a
    >
  </div>
</header>
