<%- include('../shared/head.ejs') %>
<body>
  <%- include('../shared/header.ejs') %>
  <h1 class="text-center">Finances</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="bg-primary text-light p-2">Section for finances summary</h2>
        <p>Data for finances</p>
      </div>
      <div class="col-md-6">
        <h2 class="bg-primary text-light p-2">
          Section for daily habits tracking
        </h2>
        <p>Data for habits</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2 class="bg-primary text-light p-2">Section for tracking schedule</h2>
        <p>Data for schedule</p>
      </div>
      <div class="col-md-6">
        <h2 class="bg-primary text-light p-2">
          Section for Activities done today
        </h2>
        <p>Data for other</p>
      </div>
    </div>
  </div>

  <%- include('../shared/footer') %> <%- include('../shared/scripts') %>
</body>
