<%- include('../shared/head.ejs') %>
<body>
  <%- include('../shared/header.ejs') %>

  <div class="container">
    <h1>Main page</h1>
    <p><a href="/secret" class="link-primary">Secret news feed</a></p>

    <h6>Public newsfeed</h6>

    <p>Ant: Waasaaaaaaaaa</p>
    <p>Lion: Wassaaaaaaaap</p>
  </div>

  <%- include('../shared/footer') %> <%- include('../shared/scripts') %>
</body>
